.question {
  min-width: fit-content;
  .question-card {
    margin-top: 5px;
    width: 95%;
    .question-header{
      text-align: left;
    }
  }
  .question-body {
    display: flex;
    flex-direction: row;
    .question-avatar {
      height: 100px;
      width: 100px;
      border-right: 1px solid #cfcece;
      margin: 0;
      padding: 5px 20px;
      img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
    .question-content {
      margin: 0;
      padding: 5px 20px;
      width: 60%;
      h4 {
        margin: 0 0 15px 0;
      }
    }
    .btn-poll {
      width: 100%;
      background-color: white;
      color: $primary-green;
      border: 1px solid $primary-green;
      margin-top: 20px;
    }
    .btn-poll:hover {
      background-color: $hover-green;
      color: white;
    }
  }
}
