.question {
  .question-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    .question-avatar {
      height: 60px;
      width: 60px;
      border-right: 1px solid gray;
      padding: 20px;
      align-content: center;
      img{
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
    .question-content {
      padding: 10px;
      span {
        margin: 10px 0;
      }
    }
    .btn-poll {
      width: 100%;
      background-color: white;
      color: $primary-green;
      border: 1px solid $primary-green;
    }
    .btn-poll:hover {
      background-color: $hover-green;
      color: white;
    }
  }
}
